<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Search</h1>
   

        <!--usamos query strings cuando trabajamos con formularios que piden informacion -->


        <form action="/movies/search/" method="GET">
            <input type="text" name="search" placeholder="Buscá una película">
            <input type="submit" value="search">
        </form>

        <h2>Search results</h2>

        <ul>
            <% for (let i = 0; i < movie.length; i++) { %>
                <li>
                    
                    <a href="/movies/detail/<%=movie[i].id%>"> <%= movie[i].title%> </a>
                </li>
    
                <%   } %>
             
         </ul>
    
</body>
</html>